p, ul, .navbar-brand, .navbar-text, .text-center a, .newsletter{
	font-family: 'Hanalei Fill', cursive;
}

html{
	height: 100%;
	width: 100%;
	margin: 0;
	scroll-behavior: smooth;
}

.carousel{
	margin: 5px 10px 20px 10px;
}

.carousel img{
	height: 500px;
}

body{
	background-color: #d7dcef !important;
}

.titrep{
	border: 5px solid #292F63;
	border-radius: 20px;
	text-align: center;
	font-size: 50px;
	color: #292F63;
	background-color: #3F51B5;
	text-shadow: 1px 1px 5px white;
	margin: 10px 10px;
}

.imgproduit{
	width: 520px;
}

.tardisfonction{
	width: 90%;
	margin: 100px 15px;
}

.imgfonction{
	
}

.text{
	margin: 20px;	
	font-size: 16px;
}

.text2{
	width: 950px;
}

.textone{
	height: 300px;
	margin: auto;
	overflow: hidden;
}

.liste{
	width: 800px;
	margin: 20px auto;
	line-height: 30px;
}

footer{
	background-color: #3F51B5;
}


i{
	font-size: 70px;
	margin-right: 20px;
	transition-duration: 0.5s;
	margin-bottom: 20px;
}



.form-control{
	color: #10227c !important;
}

.subscribe1{
	text-align: right;
	margin-right: 0px;
}

.subscribe1 input{
	width: 300px;
}

.subscribe2{
	height: 27px;
	text-align: left;
	margin-left: 0px;
}

.subscribe input{
	width: 100%;
}

.h1-responsive{
	text-shadow: 1px 1px 5px black;
	animation: skew 3s infinite;
}

@keyframes skew{
	from{
		-webkit-transform: skew(15deg);
 		transform: skew(15deg);
	}
	50%{
		-webkit-transform: skew(-15deg);
 		transform: skew(-15deg);
	}
	to{
		-webkit-transform: skew(15deg);
 		transform: skew(15deg);
	}
}